#clients-page .video-container {
	background-color:#EFEEEB;
	position:relative;
}

.hide {
	display:none;
}

#clients-page .video-container .video-inner {
	margin: 0px auto;
	width: 100%;
	padding-top:130px;
	text-align:center;
}

#clients-page .video-container .video-inner h2 {
	margin-top:0px;
	font-size:24px;
}

#clients-page .video-container .video-inner h1 {
	font-size:48px;
}


#clients-page .video-container .video-inner .video {
	width:960px;
	padding-bottom:45px;
}

.openClients img {
	padding-right:40px;
}
.openClients {
	position: absolute;
	bottom: -40px;
	width: 100%;
	height: 40px;
	background: #790001;
	text-align: center;
	margin: 0px;
	cursor: pointer;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
	color: white;
	line-height: 40px;
}

.openClients:hover {
	background-color:#670001;
}

#clients-page .logos {	
	width:960px;
	//width: auto;
	margin:0px auto;
	margin-top:100px;
	text-align:center;
}

#clients-page .logos .logo  {	
	width: 190px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	height: 200px;
	line-height: 200px;
	cursor:pointer;
}

#clients-page .logos .logo img  {	
	vertical-align: middle;
	display: inline-block;
}

#clients-page .logos .logo img.hover {	
	display:none;
}

#clients-page .logos .logo.open  img.default, 
#clients-page .logos .logo:hover img.default  {	
	display:none;
}

#clients-page .logos .logo:hover img.hover ,
#clients-page .logos .logo.open  img.hover {
	display:inline-block;
}

div[id='Experiential Activations'] {
  float: left;
  width: 50%;
  border-right: solid 1px #E4E4E4;
  //outline: 1px solid #E4E4E4;
}

div[id='OOH / Billboard Campaigns'] {
  float: right;
  width: 50%;
  //border-left: solid 1px #E4E4E4;
  //outline: 1px solid #E4E4E4;
}

#groups-wrapper {
  width: 100%;
}

