<div id="clients-page">

  <div class="video-container hide">
    <div class="video-inner">
      <h2>Past Clients Include</h2>
      <h1 >{{ clients[openClient].name }}</h1>
      <iframe class="video" src="{{ getVimeoSource() }}" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p ng-click="openClients() " class="hide openClients">
      <span><img src="img/down_arrow.svg"> click through our clients below</span>
    </p>
  </div>

  <div class="logos">
    <p>
      Group by:
      <a ng-click="groupBy( 'category' )">Client Category</a> -
      <!-- consider adding location to group on -->
      <!-- <a ng-click="groupBy( 'location' )">Location</a> -->
    </p>
    <div ng-repeat="group in groups">
      <div id="{{ group.label }}">
        <h2>
          {{ group.label }}
        </h2>
          <div class="logo" ng-class="{open: (clients[openClient].name == client.name)}" ng-click="changeOpenClientTo(group.clients[$index])" ng-repeat="client in group.clients">
            <img ng-if="client.img == 'ravens.jpeg'" src="img/client-logos/{{ client.img}}" />
            <img ng-if="client.img != 'ravens.jpeg'" class="hover" src="img/client-logos/{{ client.img }}_default.svg" />
            <img ng-if="client.img != 'ravens.jpeg'" class="default" src="img/client-logos/{{ client.img }}_hover.svg" />
          </div>
<!--
          <li ng-repeat="client in group.clients">
            {{ client.name }}
          </li>
        <ul>
        </ul>
    <div class="logo" ng-class="{open: (clients[openClient].name == client.name)}" ng-click="changeOpenClientTo($index)" ng-repeat="client in clients">
      <img ng-if="client.img == 'ravens.jpeg'" src="img/client-logos/{{ client.img}}" />
      <img ng-if="client.img != 'ravens.jpeg'" class="hover" src="img/client-logos/{{ client.img }}_default.svg" />
      <img ng-if="client.img != 'ravens.jpeg'" class="default" src="img/client-logos/{{ client.img }}_hover.svg" />
    </div>
      </div>
-->

    </div>
  </div>
  <a class="learn-more" href="#contact">Contact Us <img src="img/link_arrow.svg"></a>

</div>

