<div id="contact">
	<h1>Contact Us</h1>
	<div class="map">
		<img  class="mapImage" src="img/map.png" />
	</div>

	<p class="text">			
		PTALA specializes in the marketing of brands within some of the most iconic venues in the United States. Please contact us for information on your next advertising or sponsorship project. We would love to hear from you.
	</p>			

	<div class="contact-info">
		<div class="contact-inner">
			<div class="left">
				<h2>Office</h2>
				<p>PTALA<br />635 Madison Avenue<br />Suite 1402, 14th Floor <br />New York, NY 10022</p>
			</div>
			<div class="right">
				<h2>general contact</h2>
				<p>Byron Appel<br />635 Madison Avenue<br />Suite 1402, 14th Floor <br />New York, NY 10022<br /><a href="mailto:bappel@ptala.com">bappel@ptala.com</a><br />347.831.4853</p>
			</div>
		</div>
	</div>

</div>
